;
; BIND data file for local loopback interface
;
$TTL    604800
@       IN      SOA     ns1. admin@{{ domain_name }} (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
        IN      NS      ns1.

ns1     IN      A       10.0.0.2
kdc     IN      A       10.0.0.2
service IN      A       10.0.0.3
client  IN      A       10.0.0.4
