//
// Do any local configuration here
//

zone "{{ domain_name }}" {
        type master;
        file "/etc/bind/zones/db.{{ domain_name }}";
        allow-transfer {none;};
};

zone "10.in-addr.arpa" {
        type master;
        file "/etc/bind/zones/db.10";
};

// Consider adding the 1918 zones here, if they are not used in your
// organization
// include "/etc/bind/zones.rfc1918";


