#principal       [priv1,priv2,...]       [glob-pattern]
{{ k_admin_user }}@{{ domain_name | upper }} cpw,list,delete,modify,add,get,get-keys *@{{ domain_name | upper }}
{{ k_admin_user }}@{{ domain_name | upper }} cpw,list,delete,modify,add,get,get-keys */*@{{ domain_name | upper }}
